<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.OrdersBeanMapper">
    <resultMap id="BaseResultMap" type="com.qphone.pojo.OrdersBean">
        <result column="OID" jdbcType="DECIMAL" property="oid"/>
        <result column="UUID" jdbcType="DECIMAL" property="uuid"/>
        <result column="OREALID" jdbcType="VARCHAR" property="orealid"/>
        <result column="ONAME" jdbcType="VARCHAR" property="oname"/>
        <result column="OTIME" jdbcType="VARCHAR" property="otime"/>
        <result column="OMONEY" jdbcType="VARCHAR" property="omoney"/>
        <result column="ONUMBER" jdbcType="VARCHAR" property="onumber"/>
        <result column="OSTSTUS" jdbcType="VARCHAR" property="oststus"/>
        <result column="OWEILAI" jdbcType="DATE" property="oweilai"/>
        <result column="OSHENGYU" jdbcType="DECIMAL" property="oshengyu"/>
        <result column="PCHOU" jdbcType="INTEGER" property="pchou"/>
        <result column="PMONEY" jdbcType="INTEGER" property="pmoney"/>
    </resultMap>
    <insert id="insertone" parameterType="com.qphone.pojo.OrdersBean">
     insert into orders(UUID,OREALID,ONAME,OTIME,OMONEY,ONUMBER,OSTSTUS,OWEILAI,OSHENGYU,PCHOU,PMONEY) values(#{uuid,jdbcType=DECIMAL},#{orealid,jdbcType=VARCHAR},#{oname,jdbcType=VARCHAR},#{otime},#{omoney,jdbcType=VARCHAR},#{onumber,jdbcType=VARCHAR},#{oststus,jdbcType=VARCHAR},#{oweilai},#{oshengyu},#{pchou},#{pmoney})
  </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from orders
    </select>
    <select id="selectname" resultType="String">
        select ONAME from orders
    </select>

    <delete id="deletebyname" parameterType="String">
        delete from orders where oname=#{name}
    </delete>
</mapper>